<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/assets/ShareBar.css">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">WizeDomWisdom</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/tips/">Tips</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">Android <span class="caret"></span></a>
          <ul class="dropdown-menu">
	    <li><a href="/android/android1/">Android Blog tips and advice</a></li>
            <li><a href="/android/android2/">Recommended Android Apps</a></li>
            <li><a href="/android/android3/">Rooting and ROMs and why</a></li>
            <li><a href="/android/android4/">Motorola Droid 4, rooting and ROMs</a></li>
            <li><a href="/android/android5/">Samsung devices, rooting and ROMs</a></li>
          </ul>
        </li>
        <li><a href="/linux/">Linux</a></li>
        <li><a href="/windows/">Windows Servers Automation</a></li>
	<li><a href="/chrome/">Google Chrome</a></li>
    </div>
  </div>
</nav>