html,body{
height:100%;
}

*{
margin:0;
  padding:0;
}
.wraper{
height:100%;
  overflow:hidden;
}
.top {
  margin-right:25px;
  margin-bottom:10px;  
  min-width:200px;
  border: thin solid #d1e8ff;
}
.right {
  width: 200px;
  float:right;
  min-height:100%;
}
.main {
  margin-top:75px;
  margin-left:25px;
  margin-bottom:200px;
  min-height:100%;
 }
.bottom {
  padding-top:20px;
  padding-bottom:20px;  
  margin-right:25px;
  min-width:200px;  
  padding-left:20%;
}