html,body{
height:100%;
}

*{
margin:0;
  padding:0;
}
.wraper{
height:100%;
  overflow:hidden;
}
.top {
  top:0;
  height: 92px;
  background:red;
}
.right {
  width: 200px;
  float:right;
  min-height:100%;
 
  
}
.main {
  margin-top:75px;
  margin-left:25px;
  margin-right:300;
  margin-bottom:200px;
  min-height:100%;
 }
